UT3/XML/DTD/Actividad 7/Libros/librosdtd.dtd

<!ELEMENT dataroot (libro*)>
    <!ELEMENT libro (isbn, título, autor, editor, precio, año, revisor)>
    <!ELEMENT isbn (#PCDATA)>
    <!ELEMENT título (#PCDATA)>
    <!ELEMENT autor (#PCDATA)>
    <!ELEMENT editor (#PCDATA)>
    <!ELEMENT precio (#PCDATA)>
    <!ELEMENT año (#PCDATA)>
    <!ELEMENT revisor (#PCDATA)>

